<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Connexion</title>
 <!-- <link href="style.css" rel="stylesheet" type="text/css" />-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href= "../css/styleConnexion.css">
</head>

<body>
        
  <div id="app">
    <header>
            
         
    </header>


    


      <!-- <div class="login-container">
          <h2>Connexion</h2>
          <form id="login-form">
            <div class="form-group">
              <label for="username">Nom d'utilisateur :</label>
              <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe :</label>
              <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Se connecter</button>
          </form>  

          <login-form class="login-container" /> 


          <div class="login-container">
            <object type="text/html" data="login-form.html"></object>
        </div>  -->

        <div class="login-container" id="login-container">
          <!-- Le contenu du formulaire de connexion sera chargé ici 
          <object type="text/html" data="login-form.html"></object> -->
        </div>
    
      
      </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
          data: function(){
              return{
                  
              }
          },

          methods: {
            scrollToActus(){
              //const assoElement = getElementById("Assos");
              const actusPosition = this.$refs.actus.offsetTop;
              window.scrollTo({
                top: actusPosition,
                behavior: 'smooth'
              })
            }
              
          }
      
      })

      /*app.component('login-form',{
        template : `
          
          <form @submit.prevent="handleSubmit">
            <h1>{{title}}</h1>
            <label for="username">{{email}}</label>
            <input type="email" v-model="emailInput"/>
            <label for="password">{{password}}</label>
            <input type="password" v-model="passwordInput"/>
            <button>Se connecter</button>
          </form>
        `,
        data() {
          return{
            title: 'Connexion',
            email: 'Email',
            password: 'Mot de passe',
            emailInput: '',
            passwordInput: ""
          }
        },
        methods:{
          handleSubmit(){
            console.log(this.emailInput, this.passwordInput);
          }
        }
      })*/
      app.mount('#app')


      // Charger dynamiquement le contenu du formulaire de connexion
    fetch('http://127.0.0.1:8000/static/login-form.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('login-container').innerHTML = html;
      });


  </script>


        <script src="../script.js"></script>

</body>



</html>