<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Zevent</title>
 <!-- <link href="style.css" rel="stylesheet" type="text/css" />-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% load static %}
  <link rel="stylesheet" href= "{% static 'business/style.css' %}"> 
</head>


<style>
    h2{
        color: darkblue;
    }
</style>


    <body>
        
        <div id="app" class="background">
            <header>
                
                
                <div class="titre" style="display: block">
                    <a @click="openBtn" > <!--href="#" id="openBtn"-->
                        <span class="burger-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>    
                        
                    </a>
                
                </div>

                        
                

                {% verbatim %}
                <div class="menu" :class="{ 'active': hasNewClassMenu }"> <!-- v-if="isVisibleSideMenu" id="sideMenu" class="menu"   :class="{ 'scroll': hasNewClassScroll }"-->
                {% endverbatim %}    
                    <a @click="closeBtn" href="#" class="close">x</a>
                    <ul>
                        <li><a id="homeBtn" href="">Accueil</a></li>
                        <li><a id="newsBtn" href="news.html">Fil d'actualités</a></li>
                        <li><a id="streamersBtn" href="streamers.html">Streamers</a></li>
                        <li><a id="connexionBtn" href="login">Connexion</a></li>
                    </ul>
                </div>


                
                    
            </header>
            







            <div  id= "hero" class="hero">
                        
                
                
                <div id="presentation" class="presentation" :class="{ 'active': hasNewClassPresentation }">
                    <h1> Qu'est ce que le ZEvent ?</h1>
                    <p>
                        Z Event est un projet caritatif créé par Adrien Nougaret et Alexandre Dachary.
                    Divisé en 2 parties, l'événement se compose d'un showcase qui fait office d'amorce et est suivi par un marathon de streaming jeux vidéo lors duquel de nombreux animateurs spécialisés se rassemblent tout au long du weekend.
                    Pendant plus de 50h, les participants diffusent du contenu en direct tous ensemble et encouragent les spectateurs à se mobiliser pour soutenir une association caritative.
                    </p> 
                </div>

                <div class="buttons">
                    <button @click="scrollToAsso" id="assoButton" class="AssosButton" role="button">Association</button>
                    <button @click="scrollToActus" id="actusBtn" class="AssosButton" role="button">Actualités</button>
                </div>
                

            </div>

            
            <div class="contenu">
                <h2 class="assoTitre">Association choisie</h2>
                <section ref="asso" class="asso" >
                    
                        <p>Le WWF c’est une (très) grosse équipe de pandas qui travaille dans plus de 100 pays partout dans le monde pour protéger la 
                            planète, c’est-à-dire protéger la nature et tous ses êtres vivants. 
                            Une mission ambitieuse et vitale qui nécessite d’agir sur tous les fronts : climat, énergie, alimentation, forêt, 
                            vie sauvage, océans. Nous travaillons au plus près du terrain pour préserver cette maison que nous partageons toutes et tous. 
                            Auprès des populations locales nous nous mobilisons dans des programmes de terrain afin de maintenir et protéger les tortues 
                            de Nouvelle-Calédonie, les mangroves de Madagascar, la forêt amazonienne de Guyane, les éléphants d’Afrique etc. 
                            Une diversité d’actions complétée par de la sensibilisation auprès du public, des politiques, des acteurs économiques 
                            mais aussi d’analyse et de publication de données scientifiques.
                            
                        </p>
                        
                        <img src="../../static/business/images/1200px-WWF_logo_2000.svg.png">
                        
                        

                        
                </section>
                
                <button @click="redirectWWF" class="AssosButton"> En savoir plus </button>
                

                <h2 class="assoTitre">Dernières actualités</h2>
                <section ref="actus" class="asso">
                    
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                </section>
            </div>
        </div>



        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
            <script>
                let app = Vue.createApp({
                    data: function(){
                        return{
                            //isVisibleSideMenu: false,
                            hasNewClassMenu: false,
                            hasNewClassPresentation: false
                        }
                    },

                    /*mounted() {
                        window.addEventListener('scroll', this.handleScroll);
                    },*/

                    methods: {
                        openBtn() {
                        //this.isVisibleSideMenu = !this.isVisibleSideMenu
                        this.hasNewClassMenu = true;
                        this.hasNewClassPresentation = true;
                        },

                        closeBtn(){
                            //this.isVisibleSideMenu = !this.isVisibleSideMenu
                            this.hasNewClassMenu = false;
                            this.hasNewClassPresentation = false;
                        },

                        scrollToAsso(){
                            //const assoElement = getElementById("Assos");
                            const assoPosition = this.$refs.asso.offsetTop;
                            window.scrollTo({
                                top: assoPosition,
                                behavior: 'smooth'
                            })
                        },

                        scrollToActus(){
                            //const assoElement = getElementById("Assos");
                            const actusPosition = this.$refs.actus.offsetTop;
                            window.scrollTo({
                                top: actusPosition,
                                behavior: 'smooth'
                            })
                        },

                        redirectWWF(){
                            window.open("https://www.wwf.fr/", "_blank");
                        }

                        /*handleScroll() {
                            this.hasNewClassScroll = window.scrollY > 100; // Exemple de position de défilement à partir de laquelle la classe est ajoutée
                        },

                        beforeUnmount() {
                            window.removeEventListener('scroll', this.handleScroll);
                        }*/
                    }
                
                })
                //app.mount('#app')
            </script>

        <script src="../script.js"></script>

    </body>



</html>