<!-- login-form.html -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<form @submit.prevent="handleSubmit">
    <h1>{{ title }}</h1>
    <label for="username">{{ email }}</label>
    <input type="email" v-model="emailInput"/>
    <label for="password">{{ password }}</label>
    <input type="password" v-model="passwordInput"/>
    <button>Se connecter</button>
</form>

<script>
    const LoginForm = {
        data() {
            return {
                title: 'Connexion',
                email: 'Email',
                password: 'Mot de passe',
                emailInput: '',
                passwordInput: ''
            }
        },
        methods: {
            handleSubmit() {
                console.log(this.emailInput, this.passwordInput);
                // Logique de traitement du formulaire ici
            }
        }
    };

    export default LoginForm;
</script>