<!-- login-form.html -->
<!DOCTYPE html>

{% block html %}
<form @submit.prevent="handleSubmit">
{% block form %}
    <h1>Connexion</h1>
    <label for="username">Email</label>
    <input type="email" v-model="emailInput"/>
    <label for="password">Mot de passe</label>
    <input type="password" v-model="passwordInput"/>
    <button>Se connecter</button>
{% endblock %}   
</form>
{% endblock %}

<script>
    const LoginForm = {
        data() {
            return {
                //title: 'Connexion',
                //email: 'Email',
                //password: 'Mot de passe',
                emailInput: '',
                passwordInput: ''
            }
        },
        methods: {
            handleSubmit() {
                console.log(this.emailInput, this.passwordInput);
                // Logique de traitement du formulaire ici
            }
        }
    };

    export default LoginForm;
</script>
