<a @click="openBtn" > <!--href="#" id="openBtn"-->
    <span class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
    </span>    
    
</a>


<div class="menu" :class="{ 'active': hasNewClassMenu }"> <!-- v-if="isVisibleSideMenu" id="sideMenu" class="menu"   :class="{ 'scroll': hasNewClassScroll }"-->
    <a @click="closeBtn" href="#" class="close">x</a>
    <ul>
        <li><a id="homeBtn" href="">Accueil</a></li>
        <li><a id="newsBtn" href="news.html">Fil d'actualités</a></li>
        <li><a id="streamersBtn" href="streamers.html">Streamers</a></li>
        <li><a id="connexionBtn" href="login">Connexion</a></li>
    </ul>
</div>