{% extends "business/base.html" %}


{% block content %}

    <!-- <div v-for="live in lives" :key="live.id">
        <h3>Streamer:</h3> 
            <p>[[ live.streamer_pseudo ]] </p>
    
        <h3>Date de début:</h3>
            <p>[[ live.start_date ]]</p>
        <h3>Date de fin:</h3>
            <p>[[ live.end_date ]]</p>
        <h3>PEGI:</h3> 
            <p>[[ live.pegi ]]</p>
        <h3>Matériel:</h3> 
        <div v-for="material in live.material" :key="material.id">
            <p>[[ material.label ]] ([[ material.brand ]])</p>
        </div>

        <button v-if="new Date(live.start_date) > new Date(new Date().setDate(new Date().getDate() + 1))"
            @click="enableEditing(live)">
            Modifier le live
        </button>
        <h4 v-else> Live non modifiable, prévu dans moins d'un jour </h4>
    </div>
 -->


    <div v-for="streamer in streamers" :key="streamer.pseudo">
        <h3>Streamer: [[ streamer.pseudo ]] </h3>
        <div v-for="live in lives" :key="live.id">
            <div v-if="live.streamer_pseudo === streamer.pseudo">
                <p>Date de début: [[ live.start_date ]]</p>
                <p>Date de fin: [[ live.end_date ]] </p>
            </div>
            <!-- autres détails -->
        </div>
    </div>



{% endblock %}
