{% extends "business/base.html" %}

{% block content %}

<div id="app">

    <div class="content">

        <div class="buttonsTab">
            <button @click="currentTab = 'FirstTab'">Saisie</button>
            <button @click="currentTab = 'HomeLives'">Page d'accueil</button>
            <button @click="currentTab = 'UserRegistration'">Inscriptions Utilisateurs</button>
            <button @click="currentTab = 'Statistic'">Statistiques</button>
        </div>

            <div v-show="currentTab === 'HomeLives'">
                {% for live in lives %}
                    <h1>{{ live.label }}</h1>
                    <p>Streamer: {{ live.streamer_name.first_name }} {{ live.streamer_name.last_name }}</p>
                    <p>Date de début: {{ live.start_date }}</p>
                    <p>Date de fin: {{ live.end_date }}</p>
                    <p>PEGI: {{ live.pegi }}</p>
                {% endfor %}

            </div>  

        <div v-show="currentTab === 'FirstTab'" :class="{'is-active': currentTab === 'LivesEntry'}">
            
            <form class="creationForm" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Valider le formulaire</button>
                
            </form>

        </div>

        <div v-show="currentTab === 'UserRegistration'">
            <p id="streamersCount">Chargement...</p>
        </div>
        

        <div v-show="currentTab === 'Statistic'">
            <p id="streamersCount">Chargement...</p>
        </div>

    </div>
 
</div>

{% endblock %}
