{% extends "business/base.html" %}

{% block content %}

<div id="app">

    <div class="content">

        <div class="buttonsTab">
            <button @click="currentTab = 'FirstTab'">Saisie</button>
            <button @click="currentTab = 'HomeLives'">Page d'accueil</button>
            <button @click="currentTab = 'UserRegistration'">Inscriptions Utilisateurs</button>
            <button @click="currentTab = 'Statistic'">Statistiques</button>
        </div>

            <div v-show="currentTab === 'HomeLives'">
                <form class="creationForm" method="POST">
                    {% csrf_token %}
                    <button type="submit">Créer l'utilisateur</button>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<p>
                            {% endfor %}
                        </ul>
                    {% endif %}  

                </form>
            </div>  

        <div v-show="currentTab === 'FirstTab'" :class="{'is-active': currentTab === 'LivesEntry'}">
            
            <form class="creationForm" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Valider le formulaire</button>
                
            </form>

        </div>

        <div v-show="currentTab === 'UserRegistration'">
            <p id="streamersCount">Chargement...</p>
        </div>
        

        <div v-show="currentTab === 'Statistic'">
            <p id="streamersCount">Chargement...</p>
        </div>

    </div>
 
</div>

{% endblock %}
