{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Connexion</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="login-container">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success btn-block">Se connecter</button>
                        </form>
                        {% if messages %}
                            <div class="mt-4">
                                {% for message in messages %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
